/* header  */
.banner {
    background-image: url(../images/banner/banner1.png);
    background-size: cover;
    width: 1340px;
    height: 600px;
    margin-top: 0px;

}

.banner-sub {
    margin-right: 120px;

}

.banner-title {

    font-weight: 700px;
    font-size: 40px;
    text-align: right;
    color: #151414;
    margin-right: 100px;
    padding: 10px;
    margin-bottom: 0px;
    margin-left: 800px;


}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #444343;
    margin-right: 100px;
    margin-left: 790px;
    margin-bottom: 45px;
    margin-top: 0px;

}

.btn-primary {

    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 18px 30px;
    background: #FD6E0A;
    border: 0px;
    margin-left: 950px;
    margin-top: 5px;




}

/* section about */

main {
    max-width: 1400px;
    margin: 0 auto;
}

.about {
    display: flex;
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-right: 350px;

}

.section-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-right: 400px;
}

.section-icon {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

/* my plan */
.section-sub-plan {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.section-container {
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: center;

}

.skill-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}




.sub-logo {

    background-image:
        linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
    margin-top: 100px;
    border-radius: 8px;
    width: 1000px;
    height: 230px;
    padding-bottom: 50px;
    margin-left: 120px;
    margin-right: 50px;




}

.contact {
    display: flex;
    justify-content: center;
    background-color: #151414;
    margin-top: 70px;

    gap: 5px;
}

.contact-title {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    padding-left: 80px;
}

.logo-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-left: 50px;
    padding-top: 50px;
    margin-right: 300px;
}

.btn {
    font-weight: 600;
    font-size: 20px;
    margin-left: 50px;
    border: 1px solid #F8F8F8;
    border-radius: 5px;
    color: #F15B22;
}

.contact-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 760px;
    padding-left: 80px;

}

.contact-mail {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 80px;
}
.logo-tag{
    padding-left: 80px;
}
.contact-sub{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    padding-right: 80px;
}
.contact-num{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 80px;
}
.top{
    margin-top: 20px;
}